* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.card-container {
  display: block;
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-container { 
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.product-price-lable{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-price{
  font-size: 20px;
  line-height: 24px;
}

.product-heading {
  margin-top: 220px;
  margin-bottom: 110px;
  text-align: center;
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
}

.products-box {
  width: 1110px;
  list-style-type: none;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container {
  margin: auto;
  color: #515076;
  background-image: url('images/bg-dandelion.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 790px;
  width: 1110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.red-color-bg {
  background-color: red;
}

.green-color-bg {
  background-color: green;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center; 
}

.footer-box {
  position: relative;
  background-color: #3A3A3A;
  width: auto;
  height: 477px;
  margin: auto;
  color: #FFFFFF;

}

.product-cards-box {
  font-size: 28px;
  line-height: 154%;
  font-weight: 800;
  position: relative;
  left: 84px;
}

.footer-left-block {
  position: relative;
  left: 84px;
  top: 85px;
  display: inline-block;
}

.product-cards {
  font-size: 28px;
  line-height: 154%;
  font-weight: 800;
  position: relative;
}

.product-cards-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  position: relative;
  text-transform: capitalize;
  margin-top: 16px;
  display: inline-block;
}

.messenger-icons-box{
  margin-top: 42px;
  display: flex;
  gap: 30.5px
}

.form-bg{
  left: 625px;
  top: 127px;
  display: flex;
  justify-content: space-between;
  height: 61px;
  width: 477px;
  background-image: url('/footer-images/emeil-input-background.png');
  background-size: 477px 61px;
  position: absolute;
}

.form-btn{
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 22px;
  margin-left: 36px;
  margin-top: 22px;
  font-weight: 500;
  font-size: 14;
}

.form-subscribe-btn{
  font-size: 18px;
  color:black;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 15px;
  border-left: 1px solid #000000;
  padding-left: 21px;
  width: 500;
  position: absolute;
  top: 149px;
  left: 942px;
}

.form-text{
  display: inline-block;
  position: absolute;
  top:85px;
  left:689px;
  width: 400;
  font-size: 24px;
}

.fast-links-toc{
  position: absolute;
  left:1475px;
  top: 85px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 23px;
}

.fast-links{
  position: absolute;
  top: 132px;
  left: 1475px;
  font-weight: 400;
  margin-bottom: 17px;
}

.fast-links-list{
  display: flex;
  flex-direction: column;
  gap:16px
}

.product-cards-link-footer{
  font-weight: 400;
  width: 100%;
  height: 22px;
  text-align: justify;
  font-size: 18px;
  position: absolute;
  top: 427px;
  left: 676px;
}

.footer-line-img{
  background-image: url('/footer-images/footer-horizontal-bar.png');
  position: absolute;
  width: 66px;
  height: 1px;
  top: 394px;
  left: 830px;
}

.user-form input{
  justify-content: space-between;
  background: none;
  border: none;
}

.user-form{
  border: 2px solid skyblue;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  width: 25%;
  height: 25%;
}

.user-form-btn{
  cursor: pointer;
  background: none;
  border: none;
  background-color: greenyellow;
  width: 35%;
}

.authentication-btn {
  border-radius: 10px;
}

.modal{
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-showed{
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0 .4);
  background-color: white;
  padding: 30px;
}

.modal .overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}

.modal-close{
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #C41E3A;
}

.modal-login{
  background-color: greenyellow;
  opacity: 0.7;
  justify-content: center;
  margin-top: 20px;
}

.modal-login:hover{
  background-color: green;
  opacity: 1;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}