* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 18px;
}

.text {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: 24px;
}

.card-container {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: orangered;
  border: 2px solid black;
  font-size: 20px;
  padding: 20px;
  background: #F0F0F0;
  border-radius: 12px;
  font-weight: bold;
}

.users-list {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.title {
  position: relative;
  left: 50%;
  margin-top: 40px;
  margin-bottom: 90px;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.buttons-container {
  margin-top: 50px;
  width: 1500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.button {
  width: 400px;
  height: 100px;
  background-color: #4f46e5;
  color: white;
  font-size: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  filter: brightness(0.85);
  transform: translateY(-1px);
}

.error-message {
  visibility: hidden;
  display: flex;
  width: 500px;
  height: 400px;
  background-color: #F5F5F5;
  color: red;
  position: fixed;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loading-message {
  position: fixed;
  z-index: 1000;
  height: 400px;
  width: 1000px;
  background-color: #FAFAFA;
  font-size: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
}


